@import './Imagenes/colores.css' ;


.App {
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}

.TP {
  height: 10vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  color: red;
  background-color: var(--gris1);
}

.TP div  {
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
 }

.TP div button {
 border: none;
 cursor: pointer;
}


.BP:hover {
  font-size: 1rem;
  background-color: var(--gris3);
 }
.BS:hover {
  font-size: 1rem;
  background-color: var(--gris3);
}
